ul{
    display: flex;
    justify-content:center;
    background-color: darkslateblue;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Oswald', sans-serif;

}
li {
    list-style-type: none;
   margin-left: 30px;
    
}

li a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 5px 7px;
}
.wrapcontent{
    min-height: 700px;
}
footer{
    background-color: dimgrey;
    color: #fff;
}
.im{
    width: 1450px;
    margin: 0 auto;
}
.formwrap{
background-color: indigo;
}



